h1{
    color: aliceblue;
}

button{
    background-color: greenyellow;
    color: red;
    font-weight: bold;
    width: 170px;
    height: 30px;
    border-radius: 50px;
    
}
table{
    background-color: gray;
}